<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>About Page</title>
</head>
<body>


        <div class="header">
            <h1>About Page</h1>
        
            <h2>🚀 Hi, here is more information about me 🦄</h2>
            <p>My name is Lilly and i am a 24 year old coding student. Currently doing an amazing bootcamp with
                ironhack to learn more about the amazing world of coding. Stay tuned!</p>
        
           <div class="link-container">
            <a href="/works">works page</a>
            <a href="/">home page</a>
    
        </div>
        </div>

    </body>
</html>