<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Home Page</title>
</head>
<body>
    <div class="header">
    <h1>Home Page</h1>

    <h2>Welcome to the home page. If you click on About me you will get more information about me and if you click on my works you will a see a display of my finest works</h2>
   
   <div class="link-container">
    <a href="/works">works page</a>
    <a href="/about">about page</a>
</div>
</div>


</body>
</html>