<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Works Page</title>
</head>
<body>

    <div class="header">
        <h1>Works Page</h1>
    
    
        <h2>Here you can find one of my finest works</h2>

        <div class="container">
            <img src="/images/kunst1.jpg" alt="corgi">
            <img src="/images/kunst2.jpg" alt="corgi">
            <img src="/images/kunst3.jpg" alt="corgi">
        </div>
        <div class="container">
            <img src="/images/kunst4.jpg" alt="corgi">
            <img src="/images/kunst5.jpg" alt="corgi">
            <img src="/images/kunst6.jpg" alt="corgi">
        </div>
       <div class="link-container">
        <a href="/about">About page</a>
        <a href="/">Home page</a>

    </div>
    </div>
</body>
</html>